<button
  class="header-mobile-toggle"
  aria-controls="primary-nav"
  aria-expanded="false"
>
  <span class="sr-only">Menu</span>
  <i class="fa-solid fa-bars"></i>
</button>
<header id="primary-nav" data-visible="false" class="header">
  <nav class="header-inner">
    <ul id="primary-nav" data-visible="false" class="header-inner-content">
      <li class="header-link"><a href="/">Hompage</a></li>
      <li class="header-link"><a href="/portfolio">Portfolio</a></li>
      <li class="header-link"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
