<header class="header">
  <nav class="header-inner">
    <ul class="header-inner-content">
      <li class="header-link"><a href="/">Hompage</a></li>
      <li class="header-link"><a href="/portfolio">Portfolio</a></li>
      <li class="header-link"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
