.hero {
  &-inner {
    @extend %container;
    margin: $gap * 5.5 $gap $gap * 2.5;
    text-align: center;
    width: auto;

    @include break(desktop) {
      margin: $gap * 3.5 auto;
    }
  }
  &-title {
    color: $gold;
    font-weight: $book;
  }
  &-summary {
    @extend %h4;
    font-weight: $normal;
    line-height: 1.2;
    margin-top: $gap * 2.5;
  }
}
