p,
a {
  font-size: 1rem;
  font-family: "Poppins";
  margin: unset;
}

%h1 {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: "Poppins";
  margin: unset;

  @include break(desktop) {
    font-size: 2.125rem;
  }
}

%h2 {
  font-size: 1.125rem;
  font-weight: $bold;
  font-family: "Poppins";
  margin: unset;

  @include break(desktop) {
    font-size: 1.875rem;
  }
}

%h3 {
  font-size: 1.125rem;
  font-weight: $bold;
  font-family: "Poppins";
  margin: unset;

  @include break(desktop) {
    font-size: 1.5rem;
  }
}

%h4 {
  font-size: 1.125rem;
  font-weight: $book;
  font-family: "Poppins";
  margin: unset;

  @include break(desktop) {
    font-size: 1.25rem;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h3;
}
